.container {
  width: 100%;
  padding-right: $spacer;
  padding-left: $spacer;
  margin-right: auto;
  margin-left: auto;

  .row {
    margin-left:-$spacer;
    margin-right:-$spacer;
    [class*="col--"] {
      padding-left: $spacer;
      padding-right: $spacer;
      display: inline-block;
      vertical-align: middle;
      margin-right: -4px;
      width: 100%;
    }
    &.spacer--10 {
      [class*="col--"] {
        padding-bottom: $spacer;
        padding-top: $spacer;
      }
    }
    &.spacer--0-0 {
      [class*="col--"] {
        padding: 0;
      }
    }
    @media (min-width: $mobile-break) {
      .col--sm {
        &-1 {
          width: 8.33%;
        }
        &-2 {
          width: 16.67%;
        }
        &-3 {
          width: 25%;
        }
        &-4 {
          width: 33.33%;
        }
        &-5 {
          width: 41.66%;
        }
        &-6 {
          width: 50%;
        }
        &-7 {
          width: 58.33%;
        }
        &-8 {
          width: 66.66%;
        }
        &-9 {
          width: 75%;
        }
        &-10 {
          width: 83.33%;
        }
        &-11 {
          width: 91.67%;
        }
        &-12 {
          width: 100%;
        }
        &-offset {
          &-1 {
            margin-left: 8.33%;
          }
          &-2 {
            margin-left: 16.67%;
          }
          &-3 {
            margin-left: 25%;
          }
          &-4 {
            margin-left: 33.33%;
          }
          &-5 {
            margin-left: 41.66%;
          }
          &-6 {
            margin-left: 50%;
          }
          &-7 {
            margin-left: 58.33%;
          }
          &-8 {
            margin-left: 66.66%;
          }
          &-9 {
            margin-left: 75%;
          }
          &-10 {
            margin-left: 83.33%;
          }
          &-11 {
            margin-left: 91.67%;
          }
          &-12 {
            margin-left: 100%;
          }
        }
      }
    }

    @media (min-width: $tablet-break) {
      .col--md {
        &-1 {
          width: 8.33%;
        }
        &-2 {
          width: 16.67%;
        }
        &-3 {
          width: 25%;
        }
        &-4 {
          width: 33.33%;
        }
        &-5 {
          width: 41.66%;
        }
        &-6 {
          width: 50%;
        }
        &-7 {
          width: 58.33%;
        }
        &-8 {
          width: 66.66%;
        }
        &-9 {
          width: 75%;
        }
        &-10 {
          width: 83.33%;
        }
        &-11 {
          width: 91.67%;
        }
        &-12 {
          width: 100%;
        }
        &-offset {
          &-1 {
            margin-left: 8.33%;
          }
          &-2 {
            margin-left: 16.67%;
          }
          &-3 {
            margin-left: 25%;
          }
          &-4 {
            margin-left: 33.33%;
          }
          &-5 {
            margin-left: 41.66%;
          }
          &-6 {
            margin-left: 50%;
          }
          &-7 {
            margin-left: 58.33%;
          }
          &-8 {
            margin-left: 66.66%;
          }
          &-9 {
            margin-left: 75%;
          }
          &-10 {
            margin-left: 83.33%;
          }
          &-11 {
            margin-left: 91.67%;
          }
          &-12 {
            margin-left: 100%;
          }
        }
      }
    }

    @media (min-width: $tablet-l-break) {
      .col--lg {
        &-1 {
          width: 8.33%;
        }
        &-2 {
          width: 16.67%;
        }
        &-3 {
          width: 25%;
        }
        &-4 {
          width: 33.33%;
        }
        &-5 {
          width: 41.66%;
        }
        &-6 {
          width: 50%;
        }
        &-7 {
          width: 58.33%;
        }
        &-8 {
          width: 66.66%;
        }
        &-9 {
          width: 75%;
        }
        &-10 {
          width: 83.33%;
        }
        &-11 {
          width: 91.67%;
        }
        &-12 {
          width: 100%;
        }
        &-offset {
          &-1 {
            margin-left: 8.33%;
          }
          &-2 {
            margin-left: 16.67%;
          }
          &-3 {
            margin-left: 25%;
          }
          &-4 {
            margin-left: 33.33%;
          }
          &-5 {
            margin-left: 41.66%;
          }
          &-6 {
            margin-left: 50%;
          }
          &-7 {
            margin-left: 58.33%;
          }
          &-8 {
            margin-left: 66.66%;
          }
          &-9 {
            margin-left: 75%;
          }
          &-10 {
            margin-left: 83.33%;
          }
          &-11 {
            margin-left: 91.67%;
          }
          &-12 {
            margin-left: 100%;
          }
        }
      }
    }
  }
}
